  <footer>
    <div class="content has-text-centered">
      <p>
        <strong><%= bot.user.username %></strong> par moi-même. Le code source est licensé
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
      </p>
    </div>
  </footer>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>  
  </body>
</html>